{% extends "base.html" %}
{% block content %}
    <div class="container w-75">
        <a class="btn btn-primary mb-3" href="{% url 'statuses_create_view' %}">Создать статус</a>
        <table class="table table-hover table-bordered">
        <thead>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </thead>
        <tbody>
            {% for status in object_list %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                    <td class="text-center">
                        <a href="{% url 'statuses_update_view' status.id %}">Изменить</a>
                        <br>
                        <a href="{% url 'statuses_delete_view' status.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}