{% extends "base.html" %}
{% block content %}
    <main class="form-signin w-50 m-auto">
        <form method="post" action="{% url 'statuses_update_view' status_id %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Изменение статуса</h1>
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-3" type="submit">Изменить</button>
        </form>
    </main>

{% endblock %}