{% extends "base.html" %}
{% block content %}
<div class="container w-75">
    {% include "./filter_panel.html" %}
        <a class="btn btn-primary mb-3" href="{% url 'tasks_create_view' %}">Создать задачу</a>
        <table class="table table-hover table-bordered">
        <thead>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{% url 'tasks_details_view' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.status.name }}</td>
                    <td>{{ task.author.first_name|add:" "|add:task.author.last_name }}</td>
                    <td>{{ task.executor.first_name|add:" "|add:task.executor.last_name }}</td>
                    <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                    <td class="text-center">
                        <a href="{% url 'tasks_update_view' task.id %}">Изменить</a>
                        <br>
                        <a href="{% url 'tasks_delete_view' task.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}